<section class="clearfix">
    <header id="header" history></header>

    <div id="board" class="col-xs-12">
        <h2 ng-show="busy">pending..</h2>

        <section ng-hide="busy">
            <div class="row items-list">
                <div class="col-xs-12"><h2>Projects</h2></div>

                <article class="board-item col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-click="addNew()">
                    <div class="content text-center btn-add">+</div>
                </article>

                <a ui-sref="{{nextLevel}}(item.urlParams)" class="board-item col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="(key, item) in content">
                    <div class="content">
                        <h4 class="title" ng-bind="item.label"></h4>
                        <p nf-if="item.details" class="details" ng-bind="item.details"></p>
                    </div>
                </a>
            </div>
        </section>
    </div>
</section>