<section id="landing">
    <section class="sign-in">
        <h1>
            <span>Authorization</span>
            <span ng-show="busy" class="text-small" pending></span>
        </h1>
        <p class="text-danger" ng-show="errorMessage" ng-bind="errorMessage"></p>

        <form class="form" ng-submit="signIn(authForm)">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="authForm.email" ng-disabled="busy" placeholder="email" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" ng-model="authForm.password" ng-disabled="busy" placeholder="password" />
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <button class="col-xs-12 btn btn-success">Sign In</button>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12 btn btn-warning" ng-click="signUp(authForm)">Sign Up</div>
                </div>
            </div>
        </form>
    </section>
</section>