<section id="ticket" class="clearfix">
    <header id="header" history></header>

    <section class="col-xs-12">
        <a class="form-group" ui-sref="project({projectId: {{projectId}} })">go back</a>

        <h2 ng-show="busy">pending..</h2>

        <div ng-if="!busy">
            <div ng-if="!edit">
                <div class="ticket-details">
                    <h2>
                        <span ng-bind="ticket.label"></span>
                        <a ui-sref="ticket.edit({projectId: {{ticket.projectId}}, ticketId: {{ticket.id}} })">edit</a>
                    </h2>

                    <p ng-bind="ticket.details"></p>
                </div>

                <div comments ticket-id="{{ticket.id}}"></div>
            </div>

            <div ng-if="edit">
                <form ng-submit="onSubmit(ticket)">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="ticket.label" placeholder="Label" />
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" ng-model="ticket.details" placeholder="Details"></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success">Save</button>

                        <div class="btn btn-warning" ng-click="resetTicket()">Cancel</div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>