@import "variables.scss";

html {
  height: 100%;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  height: 100vh;
  overflow: hidden;
}

[class*="text-"] {
  &[class*="-bold"] {
    font-weight: 600;
  }

  &[class*="-small"] {
    font-size: 0.8em;
  }
}

aside {
  position: fixed;
  top: 0; bottom: 0;
  left: 0;

  width: $navigationWidth;

  border-right: $meduimBorderWidth solid $mainBorderColor;

  background: $mainBgColor;
  color: $mainTextColor;
}

main {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;

  &.hasNavigation {
    left: $navigationWidth;
  }
  &.hasFooter {
    bottom: $footerHeight;
  }

  background: $mainBgColor;
  color: $mainTextColor;

  #landing {
    margin-top: 40vh;
    .sign-in {
      max-width: 300px;
      margin: -90px auto;
    }
  }

  #board {
    .empty-item {
      padding: 0 15px;
    }

    .board-item {
      margin: 20px 0;

      .btn-add {
        line-height: 100px;
        font-size: 3em;

        cursor: pointer;
      }

      .content {
        min-height: 100px;

        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: $navigationWidth; right: 0;

  height: $footerHeight;

  border-top: $meduimBorderWidth solid $mainBorderColor;

  background: $mainBgColor;
  color: $mainTextColor;
}