//NAVIGATION START
$navigationWidth: 200px;
//NAVIGATION END

//FOOTER START
$footerHeight: 60px;
//FOOTER END

//THEME START
$mainBgColor: #000;

$mainTextColor: #FFF;

$meduimBorderWidth: 2px;
$mainBorderColor: rgba(255, 255, 255, 0.2);
//THEME END